.footer_container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    background-color: rgb(98, 26, 153);
    width: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    height: 6vh;
}